[Unit]
Description=Puma Control
After=network.target auditd.service

[Install]
WantedBy=multi-user.target

[Unit]
Description=Puma Rails Server
After=network.target

[Service]
Type=simple
User={{deploy_user}}
WorkingDirectory={{rails_current_dir}}
Environment=RAILS_ENV={{ rails_env }}
Environment=SECRET_KEY_BASE={{ rails_secret_key_base }}
ExecStart={{deploy_user_home_dir}}/.rbenv/shims/bundle exec puma -e {{ rails_env }} -C {{rails_current_dir}}/config/puma.rb {{rails_current_dir}}/config.ru
PIDFile={{rails_shared_dir}}/pids/puma.pid
ExecStop={{deploy_user_home_dir}}/.rbenv/shims/bundle exec pumactl -S {{rails_shared_dir}}/pids/puma.state stop
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
