[Unit]
Description=Puma Control
After=network.target auditd.service

[Install]
WantedBy=multi-user.target

[Unit]
Description=Puma Rails Server
After=network.target

[Service]
Type=simple
User={{deploy_user}}
WorkingDirectory={{rails_current_dir}}
Environment=RAILS_ENV={{ rails_env }}
Environment=RACK_ENV={{ rails_env }}
Environment=RAILS_MASTER_KEY={{ rails_master_key }}
ExecStart={{deploy_user_home_dir}}/.rbenv/shims/bundle exec puma -e {{ rails_env }} -C {{rails_current_dir}}/config/puma.rb {{rails_current_dir}}/config.ru
PIDFile={{puma_process_dir}}/pids/puma.pid
ExecStop={{deploy_user_home_dir}}/.rbenv/shims/bundle exec pumactl -S {{puma_process_dir}}/pids/puma.state stop
ExecReload={{deploy_user_home_dir}}/.rbenv/shims/bundle exec pumactl -S {{puma_process_dir}}/pids/puma.state phased-restart
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
